@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProLight.eot');
	src: url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProLight.woff') format('woff'),
		url('../fonts/SofiaProLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProBold.eot');
	src: url('../fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProBold.woff') format('woff'),
		url('../fonts/SofiaProBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro Semi';
	src: url('../fonts/SofiaProSemiBold.eot');
	src: url('../fonts/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProSemiBold.woff') format('woff'),
		url('../fonts/SofiaProSemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProMedium.eot');
	src: url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProMedium.woff') format('woff'),
		url('../fonts/SofiaProMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProRegular.eot');
	src: url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProRegular.woff') format('woff'),
		url('../fonts/SofiaProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body { height: 2700px;

}





.pt-triggers {
	width: 100%;
	opacity: 1;
	position: relative;
}

.pt-touch-button {
	float: left;
	opacity: 1;
}




.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 2700px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {

}

/* Text Styles, Colors, Backgrounds */
#panel, #flip {

    text-align: center;
		background-color: rgb(223,209,170);
		width: 100%;

}

#panel {
    display: none;
		text-decoration: none;
		height: 100%;
		width: 100%;
		font-size: 3em;
		list-style-type: none;
		font-family: 'Sofia Pro';
		font-weight: normal;
		font-style: normal;
		letter-spacing: .1em;
		color: black;
}


button
{
	border: none;
	text-align: center;
	font-family: 'Sofia Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-transform: uppercase;
	background-color:
	line-height: 40px;
	height: 40px;
	width: 100%;
	cursor: pointer;
	letter-spacing: .1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul {
	list-style-type: none;
	background-color: rgb(219,243,207);
	text-align: center;
	width: 100%;
	height: 100%;
}



.top {
	width: 100%;
	display: block;
	float: left;
	height: 900px;
	background-color: rgb(233,233,225);
	
	padding-bottom: 20px;
	padding-left: 150px;
	padding-right: 150px;
}




.middlebar {
	height: 900px;
	float: left;
	background-color: rgb(255,247,223);
	width: 100%;

}

.next {
	width: 100%;
	float: left;
	height: 900px;

	background-color: rgb(211,243,243);

}

#top1 {
	position: absolute;
	width: 100%;
	margin-top: -10%;
	padding-left: 15%;
}





.toptitle {
	position: absolute;
	color: black;
	background-color: rgb(255,243,182);
	font-family: 'Sofia Pro Semi';
	font-weight: 600;
	font-style: normal;
	font-size: 4em;
}
.topsub  {
	position: absolute;
	color: black;
	background-color: rgb(255,243,182);
	font-family: 'Sofia Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
}


#middle1 {
	position: absolute;
	width: 100%;
	margin-left: 25%;
	margin-top: -30%;

}


.middletitle {
	position: absolute;
	color: black;
	background-color: rgb(251,199,186);
	font-family: 'Sofia Pro Semi';
	font-weight: 600;
	font-style: normal;
	font-size: 4em;
}
.middlesub {
	position: absolute;
	color: black;
	background-color: rgb(251,199,186);
	font-family: 'Sofia Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 1em;


}

.righttitle {
	opacity: 0;
	margin-top: -75%;
	margin-left: -15%;

}

.righttitle.showme {
	opacity: 1;
	transition: 2s;
}



.imageright:hover {
	opacity: 0;
	transition: 2s;
}



.top2 {
	width: 100%;
	display: block;
	float: left;
	height: 900px;
	background-color: rgb(251,199,186);
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 150px;
	padding-right: 150px;
}

.middlebar2 {
	height: 900px;
	float: left;
	background-color: rgb(255,247,223);
	width: 100%;

}

.next2 {
	width: 100%;
	float: left;
	height: 900px;

	background-color: rgb(211,243,243);

}

#img {
	opacity: .5;
}






.pt-page-1 {
height: 2800px;
}

.pt-page-2 {
	height: 2800px;
	background-color: pink;


}

.pt-page-3 {
background-color: green;
height: 500px;
}

.pt-page-4 {
background-color: blue;
height: 500px;
}

.pt-page-5 {
background-color: red;
height: 500px;
}

.pt-page-6 {
background-color: beige;
height: 500px;
}

/* Triggers (menu and button) */




/*page2 of henri/*

<div class="top-page2"></div>
<div class="middle-page2"></div>
<div class="bottom-page2"></div>

*/
